CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
IrrlichtKWConfig.cmake
IrrlichtKWConfigVersion.cmake
IrrlichtKWTargets.cmake
Makefile
libs/*
*.so*
*.a
*.exe
*.dll
bin/Linux
scripts/gl2ext.h
scripts/glcorearb.h
scripts/glext.h
*.vcxproj*
*.dir/
*.sln
*visualstudio/
*DS_Store
